@import "tailwindcss";

@theme {
  --colors-brand-dark: #0f0f0f;
  --colors-brand-light: #f5f5f7;
  --color-brand-gray: #a1a1aa;
  --color-brand-accent: #d4af37;

  --color-muted-DEFAULT: rgba(255, 255, 255, 0.1);
  --color-muted-foreground: rgba(255, 255, 255, 0.6);
}

:root {
  --foreground-rgb: 245, 245, 247;
  --background-start-rgb: 15, 15, 15;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  -webkit-font-smoothing: antialiased; /* Makes text look sharper */
}

/* fontFamily: {
        // If you decide to add custom fonts like 'Playfair Display' or 'Inter'
        sans: ["var(--font-inter)", "sans-serif"],
        serif: ["var(--font-playfair)", "serif"],
      }, */
